In [3]:
import numpy as np
import pandas as pd
import os

In [2]:
from os import listdir
listdir('/Volumes')

['Seagate', 'com.apple.TimeMachine.localsnapshots', 'Macintosh HD']

### The plain NPI file (this doesn't give much info besides NPI, last name, & first name)

In [3]:
npi = pd.read_csv('/Volumes/Seagate/Galvanize/NPI.csv')

In [4]:
npi.rename(columns={'NPI':'NPI','LAST NAME':'ln','FIRST NAME':'fn'}, inplace=True)

In [5]:
npi.replace({npi.ln[0]:'MCINDOE'}, inplace=True)
npi.head()

          NPI       ln      fn
0  1558467555  MCINDOE  THOMAS
1  1750598447  A AKERT   DIANE
2  1417051921  A BELLE       N
3  1467482471      AAB   BARRY
4  1255630869   AABERG   MAURA

In [6]:
npi.sort_values('ln', ascending=True,inplace=True)

In [7]:
npi.isnull().sum()

NPI     0
ln     36
fn     17
dtype: int64

                NPI     ln         fn
182471   1316477391    CAO        NaN
584013   1053726695    JEN        NaN
587232   1972774446  JIANG        NaN
642602   1023318433    KIM        NaN
705321   1407012263    LEE        NaN
720024   1588922041     LI        NaN
720025   1649416504     LI        NaN
720026   1780918615     LI        NaN
730776   1518288307    LIU        NaN
750872   1033381983     MA        NaN
1137831  1225268824   SHEN        NaN
1169955  1811350218  SMITH        NaN
1210407  1700981750     SU        NaN
1280952  1518399344   VANG        NaN
1319607  1780051078    WEI        NaN
1366715  1760644967   YANG        NaN
1384514  1831538214    ZHU        NaN
874022   1023394228    NaN      AEREE
874023   1063454130    NaN   BENJAMIN
874024   1053621995    NaN      CHANG
874025   1427290543    NaN      CHANG
874026   1083068522    NaN      GRACE
874027   1285078295    NaN       HANA
874028   1902205107    NaN    INYOUNG
874029   1710901772    NaN   KIMBERLY
874030   1134482185    NaN       LIAH
874031   1043674641    NaN      PETER
874032   1255328902    NaN       SANG
874033   1780883504    NaN       SANG
874034   1851440127    NaN       SONG
874035   1043236888    NaN    SOPHEAP
874036   1134289879    NaN      STEVE
874037   1568551125    NaN   SULKYUNG
874038   1700049269    NaN         XI
874039   1982994034    NaN    YOO JIN
905087   1770676231    NaN     ANGELA
905088   1730402348    NaN  CLEVELAND
905089   1336129444    NaN    DANETTE
905090   1689638744    NaN     DANIEL
905091   1013096585    NaN     DONALD
905092   1841672128    NaN    ELEANOR
905093   1851614648    NaN       GINA
905094   1366468308    NaN    JEFFREY
905095   1558338442    NaN       LISA
905096   1477816874    NaN      MANDA
905097   1841655669    NaN     PAMELA
905098   1013124601    NaN    RICHARD
905099   1932547866    NaN     ROBERT
905100   1194031419    NaN      SARAH
905101   1225488034    NaN      SARAH
905102   1154847614    NaN      TANYA
905103   1114025665    NaN      TERRY
905104   1083084875    NaN     TRAVIS

# Reading the NPI file for 2015, only getting the columns we need

In [9]:
npi15 = pd.read_csv('/Volumes/Seagate/Galvanize/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2015.csv', \
                    usecols=np.arange(14), header=0, \
                    names=['NPI','ln','fn','mi','creds','gender','entity','address1','address2','city', 
                            'zip','state','country','type'], \
                    dtype={'NPI':np.int64,'ln':object,'fn':object,'mi':object,'creds':object, \
                            'gender':object,'entity':object,'address1':object,'address2':object, \
                            'city':object,'zip':object,'state':object,'country':object,'type':object})

In [10]:
npi15.head()

,NPI,ln,fn,mi,creds,gender,entity,address1,address2,city,zip,state,country,type
0,1831435403,GRUNWALDT,CHRISTINA,A,FNP-BC,F,I,540 N SCHMALE RD,NaN,CAROL STREAM,601881867,IL,US,Nurse Practitioner
1,1831374784,JOHNSON,RYAN,J,CRNA,M,I,5656 KELLEY ST,NaN,HOUSTON,770261967,TX,US,CRNA
2,1831377340,WOLFF,PATRICIA,A,D.C.,F,I,5332 46TH AVE S,NaN,MINNEAPOLIS,554172308,MN,US,Chiropractic
3,1831389816,ROSS,CYNTHIA,A,M.D.,F,I,8755 S HARLEM AVE,NaN,BRIDGEVIEW,604551905,IL,US,Preventive Medicine
4,1720466840,BETTIS,KRISTEN,M,CRNA,F,I,145 KIMEL PARK DR,SUITE 120,WINSTON SALEM,271036984,NC,US,CRNA

### Made a new df for only the practioniers in NY, NJ, or CA for 2015

In [51]:
npi_15 = npi15[npi15['state'].isin(['NJ','CA','NY'])]

In [52]:
len(npi15nj), len(npi_15)

(31339, 185608)

**New csv to use for 2015 NPI for only NY, NJ, CA doctors**

In [53]:
npi_15.to_csv('/Volumes/Seagate/Galvanize/npi_2015.csv')

## Doing the same as above for 2013 & 2014

In [13]:
npi14 = pd.read_csv('/Volumes/Seagate/Galvanize/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2014.csv', \
                    usecols=np.arange(14), header=0, \
                    names=['NPI','ln','fn','mi','creds','gender','entity','address1','address2','city', 
                            'zip','state','country','type'], \
                    dtype={'NPI':np.int64,'ln':object,'fn':object,'mi':object,'creds':object, \
                            'gender':object,'entity':object,'address1':object,'address2':object, \
                            'city':object,'zip':object,'state':object,'country':object,'type':object})

In [20]:
npi14.head()

,NPI,ln,fn,mi,creds,gender,entity,address1,address2,city,zip,state,country,type
0,1659374411,MAHR,TODD,A,MD,M,I,1836 SOUTH AVE,NaN,LA CROSSE,546015429,WI,US,Allergy/Immunology
1,1073738571,GIBB,JOYCE,E,CRNP,F,I,215 ALLEGHENY AVE,NaN,OAKMONT,151392058,PA,US,Nurse Practitioner
2,1619972387,DEEM,ROBERT,B,M.D.,M,I,1549 S JEFFERSON,NaN,MONTICELLO,323441651,FL,US,Family Practice
3,1265649073,GAMBLE,SARAH,M,DO,F,I,222 RAILROAD AVE,SUITE B,GREENWICH,068306308,CT,US,Internal Medicine
4,1366640377,DIRKS,ZACHARY,B,O.D.,M,I,320 SUNRISE DR,NaN,SAINT PETER,560821352,MN,US,Optometry

In [54]:
npi_14 = npi14[npi14['state'].isin(['NJ','CA','NY'])]

In [55]:
len(npi14nj), len(npi_14)

(30734, 180843)

In [56]:
npi_14.to_csv('/Volumes/Seagate/Galvanize/npi_2014.csv')

In [21]:
npi13 = pd.read_csv('/Volumes/Seagate/Galvanize/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2013.csv', \
                    usecols=np.arange(14), header=0, \
                    names=['NPI','ln','fn','mi','creds','gender','entity','address1','address2','city', 
                            'zip','state','country','type'], \
                    dtype={'NPI':np.int64,'ln':object,'fn':object,'mi':object,'creds':object, \
                            'gender':object,'entity':object,'address1':object,'address2':object, \
                            'city':object,'zip':object,'state':object,'country':object,'type':object})

In [22]:
npi13.head()

,NPI,ln,fn,mi,creds,gender,entity,address1,address2,city,zip,state,country,type
0,1003183823,POPADIUK,LILIA,NaN,P.A.,F,I,6071 W OUTER DR,NaN,DETROIT,482352624,MI,US,Physician Assistant
1,1003813437,DONATO,HEATHER,O,M.D.,F,I,7205 WOLF RIVER BLVD,SUITE 150,GERMANTOWN,381381758,TN,US,Obstetrics/Gynecology
2,1003814310,MURTAZA,GHULAM,NaN,M.D.,M,I,4800 ALBERTA AVE,NaN,EL PASO,799052709,TX,US,Obstetrics/Gynecology
3,1003828153,LEVINE,SEYMOUR,NaN,MD,M,I,150 NORTH ROBERTSON BLVD,#350,BEVERLY HILLS,90211,CA,US,Rheumatology
4,1003879693,ALLEY,CAROL,L,MD,F,I,320 BAWDEN ST APT 313,NaN,KETCHIKAN,999016544,AK,US,Family Practice

In [57]:
npi_13 = npi13[npi13['state'].isin(['NJ','CA','NY'])]

In [58]:
len(npi13nj), len(npi_13)

(30073, 176257)

In [59]:
npi_13.to_csv('/Volumes/Seagate/Galvanize/npi_2013.csv')

In [61]:
npi_13.fn.isnull().sum()

9379

# Supplemental Data for All Program Years for Prescriptions

In [67]:
sup = pd.read_csv('/Volumes/Seagate/Galvanize/Physician Supplement File for all Program Years/OP_PH_PRFL_SPLMTL_P01172018.csv',nrows=100000)

/Users/kunal/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
names = sup[sup['Physician_Profile_State'].isin(['NJ','CA','NY'])]

In [68]:
len(sup[sup['Physician_Profile_State'].isin(['NJ'])]), len(sup[sup['Physician_Profile_State'].isin(['CA'])]), len(sup[sup['Physician_Profile_State'].isin(['NY'])])

(3713, 10287, 8343)

In [64]:
print(len(names))
names.isnull().sum()

231

Physician_Profile_ID                         0
Physician_Profile_First_Name                 0
Physician_Profile_Middle_Name               90
Physician_Profile_Last_Name                  0
Physician_Profile_Suffix                   226
Physician_Profile_Alternate_First_Name     120
Physician_Profile_Alternate_Middle_Name    146
Physician_Profile_Alternate_Last_Name      120
Physician_Profile_Alternate_Suffix         228
Physician_Profile_Address_Line_1             0
Physician_Profile_Address_Line_2           121
Physician_Profile_City                       0
Physician_Profile_State                      0
Physician_Profile_Zipcode                    0
Physician_Profile_Country_Name               0
Physician_Profile_Province_Name            231
Physician_Profile_Primary_Specialty         22
Physician_Profile_OPS_Taxonomy_1            20
Physician_Profile_OPS_Taxonomy_2            21
Physician_Profile_OPS_Taxonomy_3           196
Physician_Profile_OPS_Taxonomy_4           197
Physician_Profile_OPS_Taxonomy_5           225
Physician_Profile_License_State_Code_1       0
Physician_Profile_License_State_Code_2     185
Physician_Profile_License_State_Code_3     222
Physician_Profile_License_State_Code_4     230
Physician_Profile_License_State_Code_5     230
dtype: int64

In [45]:
npi15nj[npi15nj['ln'].isin(['NEFF'])]

,NPI,ln,fn,mi,creds,gender,entity,address1,address2,city,zip,state,country,type
661580,1639170137,NEFF,MARC,NaN,M.D.,M,I,2201 CHAPEL AVE W,SUITE 100,CHERRY HILL,080022048,NJ,US,General Surgery

In [46]:
supnj[supnj['Physician_Profile_Alternate_Last_Name'].isin(['NEFF'])]

,Physician_Profile_ID,Physician_Profile_First_Name,Physician_Profile_Middle_Name,Physician_Profile_Last_Name,Physician_Profile_Suffix,Physician_Profile_Alternate_First_Name,Physician_Profile_Alternate_Middle_Name,Physician_Profile_Alternate_Last_Name,Physician_Profile_Alternate_Suffix,Physician_Profile_Address_Line_1,...,Physician_Profile_OPS_Taxonomy_1,Physician_Profile_OPS_Taxonomy_2,Physician_Profile_OPS_Taxonomy_3,Physician_Profile_OPS_Taxonomy_4,Physician_Profile_OPS_Taxonomy_5,Physician_Profile_License_State_Code_1,Physician_Profile_License_State_Code_2,Physician_Profile_License_State_Code_3,Physician_Profile_License_State_Code_4,Physician_Profile_License_State_Code_5
27,28385,MARC,A,NEFF,NaN,MARC,NaN,NEFF,NaN,2201 CHAPEL AVE W,...,208600000X,208600000X,NaN,NaN,NaN,PA,NJ,NaN,NaN,NaN

In [43]:
supnj[:1].to_dict('index')

{27: {'Physician_Profile_Address_Line_1': '2201 CHAPEL AVE W',
  'Physician_Profile_Address_Line_2': 'SUITE 100',
  'Physician_Profile_Alternate_First_Name': 'MARC',
  'Physician_Profile_Alternate_Last_Name': 'NEFF',
  'Physician_Profile_Alternate_Middle_Name': nan,
  'Physician_Profile_Alternate_Suffix': nan,
  'Physician_Profile_City': 'CHERRY HILL',
  'Physician_Profile_Country_Name': 'UNITED STATES',
  'Physician_Profile_First_Name': 'MARC',
  'Physician_Profile_ID': 28385,
  'Physician_Profile_Last_Name': 'NEFF',
  'Physician_Profile_License_State_Code_1': 'PA',
  'Physician_Profile_License_State_Code_2': 'NJ',
  'Physician_Profile_License_State_Code_3': nan,
  'Physician_Profile_License_State_Code_4': nan,
  'Physician_Profile_License_State_Code_5': nan,
  'Physician_Profile_Middle_Name': 'A',
  'Physician_Profile_OPS_Taxonomy_1': '208600000X',
  'Physician_Profile_OPS_Taxonomy_2': '208600000X',
  'Physician_Profile_OPS_Taxonomy_3': nan,
  'Physician_Profile_OPS_Taxonomy_4': nan,
  'Physician_Profile_OPS_Taxonomy_5': nan,
  'Physician_Profile_Primary_Specialty': 'Allopathic & Osteopathic Physicians|Surgery',
  'Physician_Profile_Province_Name': nan,
  'Physician_Profile_State': 'NJ',
  'Physician_Profile_Suffix': nan,
  'Physician_Profile_Zipcode': '08002-2048'}}

# EDA

In [32]:
npi13nj[npi13nj.fn.isnull()]

,NPI,ln,fn,mi,creds,gender,entity,address1,address2,city,zip,state,country,type
1694,1003013780,"PEOPLE TRANSPORT, INC.",NaN,NaN,NaN,NaN,O,1267 ENGLISHTOWN RD,NaN,OLD BRIDGE,088571547,NJ,US,Ambulance Service Supplier
1884,1003025057,TOWN OF BOONTON,NaN,NaN,NaN,NaN,O,100 WASHINGTON ST,NaN,BOONTON,070052169,NJ,US,Mass Immunization Roster Biller
3180,1003116823,"NORTHERN N.J. ENDOSCOPY CENTER, L.L.C.",NaN,NaN,NaN,NaN,O,18 CHURCH ST,NaN,NEWTON,078601756,NJ,US,Ambulatory Surgical Center
3337,1003131087,WILLINGBORO TOWNSHIP,NaN,NaN,NaN,NaN,O,398 CHARLESTON RD,NaN,WILLINGBORO,080461660,NJ,US,Ambulance Service Supplier
3536,1003147794,HOPATCONG AMBULANCE SERVICE INC,NaN,NaN,NaN,NaN,O,516 RIVER STYX RD,NaN,HOPATCONG,078431827,NJ,US,Ambulance Service Supplier
5775,1003838616,TARGET CORPORATION AND SUBSIDIARIES,NaN,NaN,NaN,NaN,O,1515 US HIGHWAY 22,NaN,WATCHUNG,070696509,NJ,US,Mass Immunization Roster Biller
5967,1003842626,"AMBULATORY CENTER FOR ENDOSCOPY, LLC",NaN,NaN,NaN,NaN,O,7600 RIVER RD,4TH FLOOR,NORTH BERGEN,070476217,NJ,US,Ambulatory Surgical Center
6277,1003848953,STOP AND SHOP SUPERMARKET CO LLC,NaN,NaN,NaN,NaN,O,4861 US HIGHWAY 9,NaN,HOWELL,077313749,NJ,US,Mass Immunization Roster Biller
6281,1003848995,STOP AND SHOP SUPERMARKET CO LLC,NaN,NaN,NaN,NaN,O,649 RTE 206 HILLSBOROUGH CTR,NaN,HILLSBOROUGH,08844,NJ,US,Mass Immunization Roster Biller
9075,1003908609,NEW JERSEY CVS PHARMACY LLC,NaN,NaN,NaN,NaN,O,121 CENTER SQUARE RD,NaN,WOOLWICH TOWNSHIP,080851787,NJ,US,Mass Immunization Roster Biller
9247,1003913864,PATHMARK STORES INC,NaN,NaN,NaN,NaN,O,25 KINNELON RD,NaN,KINNELON,074052337,NJ,US,Mass Immunization Roster Biller
9296,1003915216,GENOVESE DRUG STORES INC,NaN,NaN,NaN,NaN,O,1335 16TH STREET,NaN,FORT LEE,070242033,NJ,US,Mass Immunization Roster Biller
9297,1003915224,THRIFT DRUG INC,NaN,NaN,NaN,NaN,O,6050 BLACK HORSE PIKE,NaN,EGG HARBOR TOWNSHIP,082349752,NJ,US,Mass Immunization Roster Biller
9528,1003921883,LML SUPERMARKETS INCORPORATED,NaN,NaN,NaN,NaN,O,500 S RIVER ST,NaN,HACKENSACK,076016651,NJ,US,Mass Immunization Roster Biller
9670,1003925413,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,542 MILLTOWN ROAD,NaN,NORTH BRUNSWICK,089023327,NJ,US,Mass Immunization Roster Biller
9671,1003925421,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,151 BOULEVARD,NaN,HASBROUCK HEIGHTS,076041716,NJ,US,Mass Immunization Roster Biller
9719,1003926775,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,30 NORTH ALBANY AVENUE,NaN,ATLANTIC CITY,084013509,NJ,US,Mass Immunization Roster Biller
9934,1003941691,"ELMER AMBULANCE CORPS., INC.",NaN,NaN,NaN,NaN,O,30 BROAD ST,NaN,ELMER,083182200,NJ,US,Ambulance Service Supplier
11392,1013009596,NEW JERSEY CVS PHARMACY LLC,NaN,NaN,NaN,NaN,O,85 GODWIN AVE MIDLAND PARK SC,NaN,MIDLAND PARK,07432,NJ,US,Mass Immunization Roster Biller
11394,1013009612,NEW JERSEY CVS PHARMACY LLC,NaN,NaN,NaN,NaN,O,5100 PARK BLVD,NaN,WILDWOOD,082601455,NJ,US,Mass Immunization Roster Biller
11442,1013010834,"NEW JERSEY CVS PHARMACY, L.L.C.",NaN,NaN,NaN,NaN,O,200 HIGHWAY 33,NaN,HAMILTON,086192542,NJ,US,Mass Immunization Roster Biller
11574,1013014877,PATHMARK STORES INC,NaN,NaN,NaN,NaN,O,50 RACE TRACK RD,NaN,EAST BRUNSWICK,088163728,NJ,US,Mass Immunization Roster Biller
11623,1013016229,THRIFT DRUG INC,NaN,NaN,NaN,NaN,O,2 ROUTE 37 EAST,NaN,TOMS RIVER,087535375,NJ,US,Mass Immunization Roster Biller
11625,1013016237,THRIFT DRUG INC,NaN,NaN,NaN,NaN,O,413 WEST CRYSTAL LAKE AVENUE,NaN,HADDONFIELD,080332806,NJ,US,Mass Immunization Roster Biller
11626,1013016245,ECKERD CORPORATION,NaN,NaN,NaN,NaN,O,4125 SOUTH BROAD STREET,NaN,YARDVILLE,086202001,NJ,US,Mass Immunization Roster Biller
11938,1013025279,"PERSONAL CARE MOLCULAR IMAGING, P.C.",NaN,NaN,NaN,NaN,O,1514 HWY 138,NaN,WALL,07719,NJ,US,Independent Diagnostic Testing Facility
11990,1013026459,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,1300 WILLOW AVENUE,NaN,HOBOKEN,070303308,NJ,US,Mass Immunization Roster Biller
12485,1013057314,RONETCO SUPERMARKET INC,NaN,NaN,NaN,NaN,O,270 US HIGHWAY #23,NaN,FRANKLIN,07416,NJ,US,Mass Immunization Roster Biller
12873,1013077056,GREAT ATLANTIC & PACIFIC TEA COMPANY INC,NaN,NaN,NaN,NaN,O,530 RTE 515,NaN,VERNON,07462,NJ,US,Mass Immunization Roster Biller
13503,1013104181,TRI-BORO FIRST AID SQUAD INC.,NaN,NaN,NaN,NaN,O,37 J STREET,NaN,SEASIDE PARK,08752,NJ,US,Ambulance Service Supplier
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942413,1982713301,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,432 BERGEN STREET,HARRISON PLAZA SHOPPING CENTER,HARRISON,070292291,NJ,US,Mass Immunization Roster Biller
942417,1982713350,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,353 US HIGHWAY 202 206,NaN,BRIDGEWATER,088072442,NJ,US,Mass Immunization Roster Biller
944131,1982796611,NEW JERSEY CVS PHARMACY LLC,NaN,NaN,NaN,NaN,O,600 KINGS HWY N,NaN,CHERRY HILL,080341505,NJ,US,Mass Immunization Roster Biller
944789,1982834875,ECLASS AMBULANCE SERVICES,NaN,NaN,NaN,NaN,O,76 BOYD ST,NaN,NEWARL,07103,NJ,US,Ambulance Service Supplier
944845,1982839361,GTS AMBULANCE TRANSPORTATION LLC,NaN,NaN,NaN,NaN,O,1868 ARBOR LN,NaN,UNION,070833715,NJ,US,Ambulance Service Supplier
945545,1982880274,BURLINGTON COUNTY ENDOSCOPY CENTER LLC,NaN,NaN,NaN,NaN,O,140 MOUNT HOLLY BY PASS,UNIT 5,LUMBERTON,080481114,NJ,US,Ambulatory Surgical Center
945680,1982891784,CITY OF GARFIELD,NaN,NaN,NaN,NaN,O,60 ELIZABETH ST,NaN,GARFIELD,070261244,NJ,US,Public Health Welfare Agency
945943,1982911897,SOUTH JERSEY MEDICAL TRANSPORTATION,NaN,NaN,NaN,NaN,O,26 N LADOW AVE APT 20G,NaN,MILLVILLE,083321437,NJ,US,Ambulance Service Supplier
946077,1982924080,"COASTAL ENDOSCOPY CENTER, LLC",NaN,NaN,NaN,NaN,O,175 GUNNING RIVER RD,NaN,BARNEGAT,080051436,NJ,US,Ambulatory Surgical Center
946462,1982975421,SYNERGY MEDICAL LABORATORIES PC,NaN,NaN,NaN,NaN,O,710 TENNENT RD,SUITE 104,MANALAPAN,077263161,NJ,US,Clinical Laboratory
946631,1982995486,NEW JERSEY CVS PHARMACY LLC,NaN,NaN,NaN,NaN,O,3313 BRIGANTINE BLVD,NaN,BRIGANTINE,082031008,NJ,US,Mass Immunization Roster Biller
947203,1992058051,SAFE AMBULANCE,NaN,NaN,NaN,NaN,O,4 DELANEY CT,NaN,MANALAPAN,077268859,NJ,US,Ambulance Service Supplier
948171,1992710883,WALGREEN CO,NaN,NaN,NaN,NaN,O,120 E 1ST AVE,NaN,ROSELLE,072031210,NJ,US,Centralized Flu
948180,1992710982,WALGREEN EASTERN CO INC,NaN,NaN,NaN,NaN,O,475 RIDGE RD,NaN,NORTH ARLINGTON,070315317,NJ,US,Mass Immunization Roster Biller
948269,1992713010,NORTHFIELD SURGICAL CENTER LLC,NaN,NaN,NaN,NaN,O,741 NORTHFIELD AVE,SUITE 102,WEST ORANGE,070521174,NJ,US,Ambulatory Surgical Center
948365,1992715890,DIGITRACE CARE SERVICES INC,NaN,NaN,NaN,NaN,O,1401 ROUTE 70 E,SUITE 8,CHERRY HILL,080342207,NJ,US,Independent Diagnostic Testing Facility
948959,1992731236,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,490 CHAMBERLAIN AVENUE,NaN,PATERSON,075221009,NJ,US,Mass Immunization Roster Biller
949282,1992737845,STOP AND SHOP SUPERMARKET CO LLC,NaN,NaN,NaN,NaN,O,1220 HAMBURG TURNPIKE AND ALPS ROAD,NaN,WAYNE,07470,NJ,US,Mass Immunization Roster Biller
952517,1992804108,ECKERD CORPORATION,NaN,NaN,NaN,NaN,O,865 ROUTE 45,NaN,PILESGROVE,080982819,NJ,US,Mass Immunization Roster Biller
952764,1992810774,LML SUPERMARKETS INCORPORATED,NaN,NaN,NaN,NaN,O,3147 KENNEDY BLVD,NaN,NORTH BERGEN,070472379,NJ,US,Mass Immunization Roster Biller
952899,1992814339,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,435 LEXINGTON AVENUE,NaN,CLIFTON,070112356,NJ,US,Mass Immunization Roster Biller
952901,1992814354,RITE AID OF NEW JERSEY INC,NaN,NaN,NaN,NaN,O,431 HALEDON AVENUE,NaN,HALEDON,075081555,NJ,US,Mass Immunization Roster Biller
952945,1992815518,COSTCO WHOLESALE CORPORATION,NaN,NaN,NaN,NaN,O,149 STATE ROUTE 23,NaN,WAYNE,07470,NJ,US,Mass Immunization Roster Biller
953314,1992837363,"MOORESTOWN FIRST AID AND EMERGENCY SQUAD, INC.",NaN,NaN,NaN,NaN,O,261 W MAIN STREET,NaN,MOORESTOWN,080572356,NJ,US,Ambulance Service Supplier
953325,1992838171,NEW JERSERY CVS PHARMACY LLC,NaN,NaN,NaN,NaN,O,700 BROAD STREET,NaN,RIVERTON,080771195,NJ,US,Mass Immunization Roster Biller
953328,1992838502,UNITED MEDICAL LABORATORY INC,NaN,NaN,NaN,NaN,O,12 OVERLOOK AVE,NaN,ROCHELLE PARK,076623226,NJ,US,Clinical Laboratory
954676,1992897474,NEW JERSEY CVS PHARMACY LLC,NaN,NaN,NaN,NaN,O,315 N DORSET AVE DORSET PLZ,NaN,VENTNOR,08406,NJ,US,Mass Immunization Roster Biller
954679,1992897623,NEW JERSEY CVS PHARMACY LLC,NaN,NaN,NaN,NaN,O,321 S MAIN ST,NaN,MANVILLE,088351840,NJ,US,Mass Immunization Roster Biller
954878,1992905996,WALGREEN CO,NaN,NaN,NaN,NaN,O,1311 ROUTE 37 W,NaN,TOMS RIVER,087555049,NJ,US,Centralized Flu
955382,1992939706,CARDINAL AMBULANCE CORP,NaN,NaN,NaN,NaN,O,209 LAFAYETTE AVE,NaN,HAWTHORNE,075061904,NJ,US,Ambulance Service Supplier

In [10]:
npi13nj = pd.read_csv('/Volumes/Seagate/Galvanize/nj_npi_2013.csv', dtype={'zip':object})
npi14nj = pd.read_csv('/Volumes/Seagate/Galvanize/nj_npi_2014.csv', dtype={'zip':object})
npi15nj = pd.read_csv('/Volumes/Seagate/Galvanize/nj_npi_2015.csv', dtype={'zip':object})

In [12]:
npi13nj = npi13nj.set_index('Unnamed: 0')
npi14nj = npi14nj.set_index('Unnamed: 0')
npi15nj = npi15nj.set_index('Unnamed: 0')

In [13]:
npi13nj.head(2)

,NPI,ln,fn,mi,creds,gender,entity,address1,address2,city,zip,state,country,type
Unnamed: 0,,,,,,,,,,,,,,
16,1013252881,FONT,TANYA,NaN,FNP,F,I,508 HIGH ST,NaN,MOUNT HOLLY,080601052,NJ,US,Nurse Practitioner
112,1073532842,COLE,BRUNO,N,MD,M,I,707 ALEXANDER RD,SUITE 201,PRINCETON,085406331,NJ,US,Cardiac Surgery

In [11]:
npi14nj.head(2)

,Unnamed: 0,NPI,ln,fn,mi,creds,gender,entity,address1,address2,city,zip,state,country,type
0,30,1164562658,GAGNON,DOREEN,NaN,"APRN, BC",F,I,297 16TH AVE,NaN,NEWARK,071031104,NJ,US,Nurse Practitioner
1,60,1518919893,HONIG,HOPE,S,D.O.,F,I,119 E LAUREL RD,NaN,STRATFORD,080841324,NJ,US,Family Practice

In [14]:
allnjnpi = npi15nj.append([npi13nj[~npi13nj.NPI.isin(npi14nj.NPI)], npi14nj[~npi14nj.NPI.isin(npi15nj.NPI)]])

In [17]:
allnjnpi.head(2)

,NPI,ln,fn,mi,creds,gender,entity,address1,address2,city,zip,state,country,type
index,,,,,,,,,,,,,,
20,1306923008,LIKE,ROBERT,C,MD,M,I,317 GEORGE ST,FAMILY MEDICINE AT MONUMENT SQUARE,NEW BRUNSWICK,089012008,NJ,US,Family Practice
53,1306987698,FUSELLA,VINCENT,J,PHD,M,I,199 MAIN STREET,NaN,WOODBRIDGE,07095,NJ,US,Clinical Psychologist

In [18]:
allnjnpi.to_csv('/Volumes/Seagate/Galvanize/all_nj_npi.csv')

In [16]:
allnjnpi.index.rename('index',inplace=True)

In [1]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd
import numpy as np

paid = pd.read_csv('/Users/kunal/Downloads/pay_script_full_onlypaid.csv',dtype={'npi':object})
x = paid.groupby('npi')['year'].nunique().to_frame().reset_index()
x3 = paid[paid['npi'].isin(list(x['npi'][:20]))]
table = pd.pivot_table(x3, index=['fn','ln'],columns='year',values=['amount']).reset_index()
table.fillna(value=0,inplace=True)
table.columns = table.columns.droplevel()
table.columns = ['fn','ln','2013','2014','2015']

data = [
    go.Bar(
        x=table['fn']+' '+table['ln'],
        y=table['2013'],
        name='2013'
    ),
    go.Bar(
        x=table['fn']+' '+table['ln'],
        y=table['2014'],
        name='2014'
    ),
    go.Bar(
        x=table['fn']+' '+table['ln'],
        y=table['2015'],
        name='2015'
    ),
]

layout = go.Layout(
    barmode='stack'
)

fig = go.Figure(data=data, layout=layout)

In [2]:
plotly.offline.plot(fig, include_plotlyjs=False, output_type='div')

'<div id="46c5d30a-b6a1-47e7-83df-9f1b9007d8d0" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("46c5d30a-b6a1-47e7-83df-9f1b9007d8d0", [{"type": "bar", "x": ["ALEXANDER GOTESMAN", "BASIL YURCISIN", "BASILISO TIU", "CATHLEEN SAROS", "CHRISTOPHER SHAARI", "ELISABETH ANACIUS", "ETAN SPIRA", "JUBRIL OYEYEMI", "LEON KUSHNIR", "LORELANE TINDOC", "MEGHAN RATTIGAN", "MONICA SINGH", "RAUL PEREZ", "RUPAN TRIKHA", "SEAN SADIKOT", "SUKRUT DWIVEDI", "SUSAN GORDON", "THOMAS MUELLER", "VASILIKI PAPATHANASIOU", "VICENTE RUIZ"], "y": [28.23, 145.55, 0.0, 60.38, 0.0, 124.36, 0.0, 0.0, 527.29, 0.0, 0.0, 10.04, 14.25, 0.0, 45.68, 5293.78, 58.11999999999999, 2451.22, 4.71, 0.0], "name": "2013"}, {"type": "bar", "x": ["ALEXANDER GOTESMAN", "BASIL YURCISIN", "BASILISO TIU", "CATHLEEN SAROS", "CHRISTOPHER SHAARI", "ELISABETH ANACIUS", "ETAN SPIRA", "JUBRIL OYEYEMI", "LEON KUSHNIR", "LORELANE TINDOC", "MEGHAN RATTIGAN", "MONICA SINGH", "RAUL PEREZ", "RUPAN TRIKHA", "SEAN SADIKOT", "SUKRUT DWIVEDI", "SUSAN GORDON", "THOMAS MUELLER", "VASILIKI PAPATHANASIOU", "VICENTE RUIZ"], "y": [1557.93, 7264.099999999998, 0.0, 154.1, 158.75, 0.0, 476.83, 0.0, 89.07000000000002, 123.82, 378.61000000000007, 0.0, 128.55, 1892.64, 234.4, 16011.779999999995, 179.38, 549.0199999999999, 34.879999999999995, 81.99], "name": "2014"}, {"type": "bar", "x": ["ALEXANDER GOTESMAN", "BASIL YURCISIN", "BASILISO TIU", "CATHLEEN SAROS", "CHRISTOPHER SHAARI", "ELISABETH ANACIUS", "ETAN SPIRA", "JUBRIL OYEYEMI", "LEON KUSHNIR", "LORELANE TINDOC", "MEGHAN RATTIGAN", "MONICA SINGH", "RAUL PEREZ", "RUPAN TRIKHA", "SEAN SADIKOT", "SUKRUT DWIVEDI", "SUSAN GORDON", "THOMAS MUELLER", "VASILIKI PAPATHANASIOU", "VICENTE RUIZ"], "y": [1683.2599999999998, 9398.53, 20.0, 100.0, 134.81, 0.0, 813.68, 20.09, 1575.7900000000004, 90.76999999999998, 0.0, 187.63, 540.4499999999998, 195.48, 604.5999999999998, 20085.81, 384.7600000000001, 1721.2800000000007, 51.76, 0.0], "name": "2015"}], {"barmode": "stack"}, {"showLink": true, "linkText": "Export to plot.ly"})</script>'